<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/min/stylesheet.css?v=<%= version || 0 %>" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.png" />

    <meta name="theme-color" content="#f6adc6" />
    <meta property="og:site_name" content="nadeshiko.io" />
    <meta name="description" content="🥇 Check out the top players in over one hundred categories using nadeshiko's leaderboards!" />
    <title>Leaderboards | nadeshiko.io</title>

    <script>
      let tasksBeforeLoading = ["fetchLanguageFile", "DOMContentLoaded"];

      /* Begin generation of the page if all tasks are completed. If not, remove the task from the list of tasks to complete.
       * This is used to ensure that all tasks are completed before the page is generated.
       * @param {string} task - The task that was completed
       */
      function beginGeneration(task) {
        if (tasksBeforeLoading.includes(task)) {
          tasksBeforeLoading.splice(tasksBeforeLoading.indexOf(task), 1);
          console.log(`Task ${task} completed; remaining tasks: ${tasksBeforeLoading}`);

          if (tasksBeforeLoading.length == 0) {
            updateTranslations();
            generateLeaderboardsViaLoop();
            getLeaderboardGames();
          }
        } else {
          console.log(`Task ${task} was already completed or is not a task; remaining tasks: ${tasksBeforeLoading}`);
        }
      }
    </script>
    <script src="/external/min/master.js?v=<%= version || 0 %>"></script>
    <script src="/external/min/language.js?v=<%= version || 0 %>"></script>
    <script src="/external/min/purify.min.js?v=<%= version || 0 %>"></script>
    <script src="/external/min/minecrafttext.js?v=<%= version || 0 %>"></script>
    <script src="/external/min/webptest.js?v=<%= version || 0 %>"></script>
    <script src="/external/min/calculations.js?v=<%= version || 0 %>"></script>

    <script src="/external/min/leaderboards.js?v=<%= version || 0 %>"></script>
  </head>

  <body>
    <div class="background" id="background" style="background-image: url('/img/games/leaderboards/lobby.webp')"></div>
    <div class="background-filter"></div>

    <div class="nadeshiko-wrapper">
      <header><%- include('partials/header') %></header>

      <div class="guild overflow-scroll mask-fade">
        <div class="leaderboard-container">
          <div class="chip-small but-big">
            <div class="leaderboard-selectors">
              <p data-t="leaderboards.select_game">Select a game:</p>
              <div class="button-array" id="selector-layer-0"></div>
              <div class="button-array" id="selector-layer-1"></div>
              <div class="button-array" id="selector-layer-2"></div>
              <div class="button-array" id="selector-layer-3"></div>
            </div>

            <div class="list quest-list" id="leaderboard">
              <div class="flex-two-item row-header no-column-header w500">
                <span data-t="leaderboards.select">Select a leaderboard.</span>
              </div>
            </div>

            <div class="flex-two-item-basic" id="pagination" style="display: none; justify-content: center">
              <span class="general-button no-margin" id="pagination-previous" onclick="showNewPage('previous')" data-t="leaderboards.previous_page">◀ Prev</span>
              <span class="w500" id="page-number"></span>
              <span class="general-button no-margin" id="pagination-next" onclick="showNewPage('next')" data-t="leaderboards.next_page">Next ▶</span>
            </div>
          </div>
        </div>
      </div>

      <footer><%- include('partials/footer') %></footer>
    </div>

    <script>
      document.documentElement.style.setProperty("--accent", getComputedStyle(document.documentElement).getPropertyValue("--accent-leaderboards"));
      let currentLeaderboardInformation = {
        leaderboard: "",
        total_players: 0,
        page: 1,
        total_pages: 1,
      };
    </script>
  </body>
</html>
